body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-icon {
  background: transparent;
  background-color: none;
  border: none;
  margin: 0;
  cursor: pointer;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(252, 249, 226);
}
